<div class="jumbotron">

	<center>
		<h1>The Predicate:</h1>
		<h1> Borrowed Books & Cafe</h1>
		<br>

		<img src="http://www.uglydogbooks.com/wp-content/uploads/2014/04/books.jpg" width= 800px>
		<br>
		<br>

		<%= link_to "Check out our Books", books_path, class: "btn btn-default" %>
	</center>
</div>